.maxZindex {
  z-index: 9000 !important;
}

.Obrua-dy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  .Obrua-yutang {
    cursor: pointer;
    .Obrua-Button {
      background: #485ce4 !important;
    }
  }
}
// .obrua_dy_MessageBox {
//   width: 600px;
//   height: 300px;
// }
.Obrua-Button{
  position: relative;
  color: #fff;
  text-align: center;
  /* width: 50px; */
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  background: #46abff;
  cursor: pointer;
  border-radius: 9px;
  margin-left: 5px;
  padding: 0 10px;
}
